:root {
  --text: #fafeff;
  --background: #030707;
  --primary: #04276c;
  --secondary: #00191e;
  --accent: #01c3e9;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 10vh 15vw;
}

.app {
  display: flex;
}

.leftColumn {
  background-color: #01c3e9;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.rightColumn {
  background-color: #04276c;
  flex-grow: 1;
  padding: 10px;
  width: 50%;
  justify-content: end;
  display: flex;
}
.personalInformationInputForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.personalInformationInputForm > * {
  margin: 5px 0;
}

.personalInformationTable > * {
  display: flex;
  flex-direction: column;
  width: 300px;
}
